body {
	font-family: Inconsolata;
	font-style: normal;
	font-variant: normal;
	background-color: #111;
	color: #aaa;

}

a {
	text-decoration: none;
	color: #aaa;
}

a:hover {
	color: #ddd;
}

.play {
	display: inline-block;
}

.play:hover {
	color: #ddd;
}

.player {
	display: inline-block;
}

.welcome {
	display: block;
	margin: auto;
	text-align: center;
}

.console {
	margin: auto;
}